codeup-peft-llama-3-8b/merged/
out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
evaluate.py
test_data.json
todo.txt
.venv
.vscode
.DS_Store
wandb/
codeup-perf-**/runs/
export_checkpoint/*
CodeUp-Llama-2-7b**
data/RombosCodeTraining112k.json
data/codeup_190k.json
data/romboscode_200k.json
data/unknown_pl_data.json
data/temp-plot**
